@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  margin: 0;
}

html {
  font-family: 'Montserrat';
  background-color: #E0E0E0;
}

header {
  overflow: hidden;
  background-color: #ffffffc9;
  padding: 20px 10px;
  text-align: center;

}
h1,{
  margin: 0;
}
h5{
  margin-top: 0;
  font-weight: 100;
}
a{
  text-decoration: none;
}
header h1 a  {
    font-size: 2.5rem;
    color: #4885b9;
}


form ul li.category {
  display: inline-block;
  background-color: white;
  padding: 5px 10px;
  margin-right: 5px;
}


.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  margin-left: 100px;
}

.comment {
  background-color: #e8e6e6;
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.content-section {
  background: #f8f8f8;
  padding: 10px 20px;
  border: 1px solid #6c6e8487;
  border-radius: 15px;
  margin: 10px;
  width: 50%
}

input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

